/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */

 @font-face {
   font-family: 'Montserrat';
   src: url('inc/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
   font-weight: 600 900;
   font-stretch: 25% 151%;
 }
 
 @font-face {
   font-family: 'Inter';
   src: url('inc/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
   font-weight: 100 900;
   font-stretch: 25% 151%;
 }
 